@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  max-width: 1170px;
  margin: 0 auto;
}

.content2 {
  width: 1070px;
  margin: 0 auto;
}

.rmdp-container[class] {
  width: 100%;
}
.rmdp-input[class] {
  width: 100%;
  height: 40px;
}

.limited-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
